html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1000px;
}

.wrapper img {
  width: 100%;
}
